body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 1px 0px;
}

.top-wrapper {
  text-align: center;
  color: #2b546a;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container  {
  width: 1000px;
  margin: 0px auto;
}

.formula-table {
  margin: 0px auto;
}

.right {
  text-align: right;
  font-weight: 400;
}

.wrapper {
  color: #2b546a;
  text-align: center;
}

.btn {
  border:black solid 0.5px;
  border-radius: 4px;
}

.calculate {
  background-color:darkblue;
  color: #ffffff;
}

.clear {
  background-color: cyan;
}
