body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 1px 0px;
}

header {
  background-color: rgba(22, 50, 92, 0.8);
  color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.top-wrapper {
  text-align: center;
  color: #2b546a;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container  {
  width: 1000px;
  margin: 0px auto;
}

.formula-table {
  margin: 30px auto 0px;
}

.right {
  text-align: right;
  font-weight: 400;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.wrapper {
  color: #2b546a;
  text-align: center;
  margin-bottom: 60px;
}

.overview {
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
}

.expImg {
  margin-top: 5px;
}

.btn {
  border:black solid 0.5px;
  border-radius: 4px;
}

.btn:hover {
  position:relative;
  top:-2px;
}

.btn:active {
  position: relative;
  top:2px;
}

.calculate {
  background-color:darkblue;
  box-shadow:0 2px darkslateblue;
  color: #ffffff;
}

.calculate:hover {
  box-shadow:0 4px darkslateblue;
}

.calculate:active {
  box-shadow: none;
}

.clear {
  background-color: cyan;
  box-shadow:0 2px darkcyan;
}

.clear:hover {
  box-shadow:0 4px darkcyan;
}

.clear:active {
  box-shadow:none;
}

.login {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.login:hover {
  background-color: #f0f4f9;
  color: #2b546a;
  opacity: 0.7;
}

.login:active {
  opacity: 1;
}

footer {
  color: #8491a5;
  padding: 30px 0px;
  border-top: 2px solid #bac6d3;
}