<div class="header-logo">
  <P class="logo">Ryokucha</P>
  <span class="material-icons logo-icon">emoji_food_beverage</span>
</div>  
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">HOME</p>
      <div class="sub-menu">
        <!--
        <p><a href="#"></a></p>
        -->
      </div>
    </li>
  </ul>
</div>
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">ABOUT</p>
      <div class="sub-menu">
        <!--
        <p><a href="#"></a></p>
        -->
      </div>
    </li>
  </ul>
</div>
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">FORMULAR</p>
      <div class="sub-menu">
        <p><a href="/views/calColor.html">Color</a></p>
        <p><a href="#">PPI</a></p>
      </div>
    </li>
  </ul>
</div>
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">BLOG</p>
      <div class="sub-menu">
        <!--
        <p><a href="#"></a></p>
        -->
      </div>
    </li>
  </ul>
</div>
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">FAQ</p>
      <div class="sub-menu">
        <!--
        <p><a href="#"></a></p>
        -->
      </div>
    </li>
  </ul>
</div>
<div class="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="main-item">Login</p>
      <div class="sub-menu">
        <!--
        <p><a href="#"></a></p>
        -->
      </div>
    </li>
  </ul>
</div>
<!-- responsive -->
<span class="material-icons menu-icon">menu</span>

<script>
  $(function() {
    $('.menu-list-item').click(function() {
      var $subMenu = $(this).find('div');
      if($subMenu.hasClass('open')){
        $subMenu.fadeOut();
        $subMenu.removeClass('open');
      } else {
        $subMenu.fadeIn();
        $subMenu.addClass('open');
      }
    });
  });
</script>