<div class="header-logo">
  <P class="logo">Ryokucha</P>
  <span class="material-icons logo-icon">emoji_food_beverage</span>
</div>
<div class="menu" id="menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">HOME</p>
      <div class="sub-menu">
        <p><a href="#"></a></p>
      </div>
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">ABOUT</p>
      <div class="sub-menu">
        <p><a href="#"></a></p>
      </div>
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">FORMULAR</p>
      <div class="sub-menu">
        <p><a href="/index.html">Inch</a></p>
        <p><a href="/views/calColor.html">Color</a></p>
        <p><a href="/views/calPPI.html">PPI</a></p>
      </div>
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">BLOG</p>
      <div class="sub-menu">
        <p><a href="#"></a></p>
      </div>
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">FAQ</p>
      <div class="sub-menu">
        <p><a href="#"></a></p>
      </div>
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list-item">
      <p class="menu-item">Login</p>
      <div class="sub-menu">
        <p><a href="#"></a></p>
      </div>
    </li>
  </ul>
</div>
<span class="material-icons menu-icon" id="menu-icon">menu</span>
<span class="material-icons close-icon" id="close-icon">close</span>
<script>
  $(function() {
    $('.menu-list-item').click(function() {
      var $subMenu = $(this).find('div');
      if($subMenu.hasClass('open')){
        $subMenu.fadeOut();
        $subMenu.removeClass('open');
      } else {
        $subMenu.fadeIn();
        $subMenu.addClass('open');
      }
    });
    
    $('#menu-icon').click(function() {
      $('#menu').fadeIn();
      $('#close-icon').fadeIn();
      $('#menu-icon').fadeOut();
      $('#header').css({
        height: "100%"
      });
    });

  $('#close-icon').click(function() {
    $('#menu').fadeOut();
    $('#close-icon').fadeOut();
    $('#menu-icon').fadeIn();
    $('#header').css({
      height: "40px"
    });
  });
});
</script>