<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eiken</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1 class="title">英検1級スピーチ対策</h1>
    <h4>スピーチ型</h4>
    <ul>
        <li>序論
          <ul>
            "I agree / disagree with the idea that...",
              "Some people say... I think.."
          </ul>
          <ul>There are two reasons why I thik so.</ul>
        </li>
        <li>本論１つ
          <ul>
            Firstly,
          </ul>
        </li>
        <li>本論２つ
          <ul>
            Secondly,
          </ul>
        </li>
        <li>結論
          <ul>
            In conclusion, for the reasons I mentioned above, I strongly believe that...,
          </ul>
        </li>        
    </ul>
    <h5 class="date">2021/9/12</h5>
    <p>Q: Do you believe that foreign travel is necessary to develop an international mindset, or can you develop this without leaving your own country?</p>
    <ul>
      A: 
       I believe that foreign travel is necessary to develop an international mindset.
       There are two reasons why I think so.
      Firstly, foreign travel can open our eyes about the world.
      For example, world heritage site and great nature make us increase curiosity.
      Secondly, we can understand differences in customs.
      For example, while foreign travel, we might be exposed to foreign lifestyle.
      In conclusion, for the reasons I mentioned above, I strongly believe that foreign travel can develop an international mindset.
    </ul>
    <h5 class="date">2021/9/13</h5>
    <p>Q: Would you like to go mountain climbing?</p>
    <ul>
      A:
       No, I wouldn't like to go mountain climbing. There are two reasons why I think so.<br>
       Firstly, there are many risks to climb mountain. For example, the weather <span class="correct">conditions in mountains can suddenly change, and this can be both inconvenient and dengerous.</span><br>
       Secondly, <span class="correct">you have to bring lots of equipment with you when you go mountain climbing.</span>For example, <span class="correction">climbing a mountain can take several days, so you need to bring things like food, water, and other important items.</span><br>
       In conclusion, for these reasons I mentioned above, I strongly believe that I wouldn't like to go mountain climbing.
    </ul>
  </body>
</html>